body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #070707;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  /* Black */
}

/***** header *****/

.header {
  width: 100%;
  max-width: 1440px;
  /* border-bottom: 1px solid #828282; */
}

#header:after {
  content: '';
  display: block;
  margin: 0 auto;
  max-width: 970px;
  border-bottom: 1px solid #828282;
}

.header__nav {
  text-align: center;
  /* display: inline-block; */
}

.header__list {
  margin: 25px auto;
  /* max-width: 496px; */
}

.header__item {
  display: inline-block;
  margin-left: 40px;
}

li:first-child.header__item {
  margin-left: 0;
}

.header__link {
  text-decoration: none;
  color: #828282;
}

.header__link:hover {
  color: #070707;
}

.header__link--active {
  color: #070707;
}

.header__link--active:hover {
  color: #828282;
}

/***** hero *****/

.hero {
  /* background-color: red; */
  width: 100%;
}

.hero__title-wrapper {
  max-width: 970px;
  height: 60px;
  margin: 12px auto 50px;
  /* text-align: center; */
}

.hero__title {
  width: 300px;
  height: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  /* Black */
  color: #070707;
}

.hero__image-wrapper {
  /* text-align: center; */
  margin: 0 auto;
  max-width: 970px;
  height: 387px;
}

.hero-image {
}

/***** aboutme *****/

.aboutme {
  background-color: #f6f6f6;
  width: 100%;
  height: 500px;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* padding: 100px 480px; */
  /* gap: 50px; */
}

.aboutme__title-wrapper {
  width: 200px;
  height: 40px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 100px;
  /* margin: 100px auto 50px; */
  /* margin: 0 auto 50px; */
}

.aboutme__content-wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* padding: 0px;
  gap: 30px; */

  width: 600px;
  height: 210px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 100px;
  text-aline: center;
}

.aboutme__content {
  text-align: center;
}

/***** skills *****/
.skills {
  max-width: 970px;
  width: 100%;
  height: 564px;
  position: relative;
  margin: 0 auto;
}

.skills__heading {
  /* gap: 20px; */
  position: absolute;
  width: 250px;
  height: 84px;
  transform: translateX(-50%);
  left: 50%;
  top: 100px;
}

.product__list-wrapper {
  position: absolute;
  width: 970px;
  height: 230px;
  transform: translateX(-50%);
  left: 50%;
  bottom: 100px;
}

.product {
  display: inline-block;
  width: 170px;
  height: 230px;
  margin-left: 90px;
  text-align: center;
  position: relative;
  /* border: 1px solid red; */
}
.product:first-child {
  margin-left: 0px;
}

.product__figure {
  width: 80px;
  height: 143px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
}

.product__title {
  font-size: 13px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0.02em;
  text-align: center;
  padding-top: 25px;
}

.product__rating {
  position: absolute;
  bottom: 0;
  margin: 0 auto;
}
/***** portfolio *****/

.portfolio {
  background-color: #f6f6f6;
  width: 100%;
}

.portfolio__wrapper {
  width: 970px;
  height: 2268px;
  position: relative;
  margin: 0 auto;
  text-align: centre;
}

.portfolio__title {
  width: 150px;
  height: 40px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
  top: 100px;
}

.page {
  width: 100%;
  height: 630px;
  position: absolute;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
}

.page1 {
  top: 190px;
}
.page2 {
  top: 890px;
}
.page3 {
  top: 1564px;
}

.page__title {
  margin-top: 40px;
}

.page__link {
  color: #070707;
}

/***** contacts *****/
