body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em;
  color: #828282;
}

.title {
  font-weight: 700;
  font-size: 34px;
  line-height: 46px;
  text-align: center;
  /* Black */
  color: #070707;
}

p {
}

/***** header *****/

.header {
  width: 100%;
  max-width: 1440px;
  /* border-bottom: 1px solid #828282; */
}

#header:after {
  content: '';
  display: block;
  margin: 0 auto;
  max-width: 970px;
  border-bottom: 1px solid #828282;
}

.header__nav {
  text-align: center;
  /* display: inline-block; */
}

.header__list {
  margin: 25px auto;
  /* max-width: 496px; */
}

.header__item {
  display: inline;
  margin-left: 40px;
}

li:first-child.header__item {
  margin-left: 0;
}

.header__link {
  text-decoration: none;
  /* font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.02em; */
  color: #828282;
}

li:first-child .header__link {
  color: #070707;
}

/***** hero *****/

.hero {
  /* background-color: red; */
  width: 100%;
}

.hero__title-wrapper {
  max-width: 970px;
  height: 60px;
  margin: 12px auto 50px;
  /* text-align: center; */
}

.hero__title {
  width: 300px;
  height: 60px;
  font-weight: 700;
  font-size: 48px;
  line-height: 65px;
  /* Black */
  color: #070707;
}

.hero__image-wrapper {
  /* text-align: center; */
  margin: 0 auto;
  max-width: 970px;
  height: 387px;
}

.hero-image {
}

/***** aboutme *****/

.aboutme {
  background-color: #f6f6f6;
  width: 100%;
  height: 500px;
  position: relative;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* padding: 100px 480px; */
  /* gap: 50px; */
}

.aboutme__title-wrapper {
  width: 200px;
  height: 40px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 100px;
  /* margin: 100px auto 50px; */
  /* margin: 0 auto 50px; */
}

.aboutme__content-wrapper {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* padding: 0px;
  gap: 30px; */

  width: 600px;
  height: 210px;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 100px;
  text-aline: center;
}

.aboutme__content {
  text-align: center;
  color: #070707;
}

/***** skills *****/

/***** portfolio *****/

/***** contacts *****/
